In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Bengaluru_House_Data.csv")

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.drop(columns=["area_type", "availability","society","balcony"],inplace=True)

In [5]:
df.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [7]:
df.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [8]:
df.shape

(13320, 5)

In [9]:
df["location"].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [10]:
df["location"] = df["location"].fillna("Whitefield")

In [11]:
df["size"].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [12]:
df["size"] = df["size"].fillna("2 BHK")

In [13]:
df["bath"].value_counts()

bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64

In [14]:
df["bath"] = df["bath"].fillna(df["bath"].median())

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [16]:
df["BHk"] = df["size"].str.split().str.get(0).astype(int)

In [17]:
df

                       location       size total_sqft  bath   price  BHk
0      Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2                   Uttarahalli      3 BHK       1440   2.0   62.00    3
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                      Kothanur      2 BHK       1200   2.0   51.00    2
...                         ...        ...        ...   ...     ...  ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00    5
13316             Richards Town      4 BHK       3600   5.0  400.00    4
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00    2
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00    4
13319              Doddathoguru      1 BHK        550   1.0   17.00    1

[13320 rows x 6 columns]

In [18]:
df[df.BHk >20]

                       location        size total_sqft  bath  price  BHk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [19]:
df["total_sqft"].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [20]:
def convert_range(x):
    splits =x.split("-")
    if len(splits) ==2: 
        return (float(splits[0]) + float(splits[1]))/2
    try: 
        return float(x)
    except: 
        return None

In [21]:
df["total_sqft"] = df["total_sqft"].apply(convert_range)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13274 non-null  float64
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
 5   BHk         13320 non-null  int32
dtypes: float64(3), int32(1), object(2)
memory usage: 572.5+ KB

In [23]:
df["total_sqft"].unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [24]:
df.head()

                   location       size  total_sqft  bath   price  BHk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [25]:
df["Price_per_SQ_ft"] = (df["price"] *100000 )/ df["total_sqft"]

In [26]:
df.describe()

         total_sqft          bath         price           BHk  Price_per_SQ_ft
count  13274.000000  13320.000000  13320.000000  13320.000000     1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778     7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496     1.064296e+05
min        1.000000      1.000000      8.000000      1.000000     2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000     4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000     5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000     7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000     1.200000e+07

In [27]:
df.isnull().sum()

location            0
size                0
total_sqft         46
bath                0
price               0
BHk                 0
Price_per_SQ_ft    46
dtype: int64

In [28]:
df["location"] =df["location"].apply(lambda x:x.strip())

In [29]:
df

,location,size,total_sqft,bath,price,BHk,Price_per_SQ_ft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689.834926
13316,Richards Town,4 BHK,3600.0,5.0,400.00,4,11111.111111
13317,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258.545136
13318,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407.336319
13319,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090.909091

In [30]:
df["location"].value_counts()

location
Whitefield                        542
Sarjapur  Road                    399
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1294, dtype: int64

In [31]:
location_count = df["location"].value_counts()
location_count

location
Whitefield                        542
Sarjapur  Road                    399
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1294, dtype: int64

In [32]:
df["location"] = df["location"].apply(lambda x: "others" if location_count[x] <=10 else x)

In [33]:
df["location"].value_counts()

location
others                2885
Whitefield             542
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

In [34]:
df

,location,size,total_sqft,bath,price,BHk,Price_per_SQ_ft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689.834926
13316,others,4 BHK,3600.0,5.0,400.00,4,11111.111111
13317,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258.545136
13318,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407.336319
13319,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090.909091

In [35]:
df = df[((df["total_sqft"] / df["BHk"]) >=300)]
df.describe()

         total_sqft          bath         price           BHk  Price_per_SQ_ft
count  12530.000000  12530.000000  12530.000000  12530.000000     12530.000000
mean    1594.564544      2.559537    111.382401      2.650838      6303.979357
std     1261.271296      1.077938    152.077329      0.976678      4162.237981
min      300.000000      1.000000      8.440000      1.000000       267.829813
25%     1116.000000      2.000000     49.000000      2.000000      4210.526316
50%     1300.000000      2.000000     70.000000      3.000000      5294.117647
75%     1700.000000      3.000000    115.000000      3.000000      6916.666667
max    52272.000000     16.000000   3600.000000     16.000000    176470.588235

In [36]:
def remove_outliers(fd): 
    df_out= pd.DataFrame()
    for key , subdf in fd.groupby("location"): 
        m= np.mean(subdf.Price_per_SQ_ft)
        s=np.std(subdf.Price_per_SQ_ft)
        gen =subdf[(subdf.Price_per_SQ_ft > (m-s)) & (subdf.Price_per_SQ_ft <= (m+s))] 
        df_out = pd.concat([df_out , gen] , ignore_index=True)
    return df_out
df = remove_outliers(df)
df.describe()

         total_sqft          bath         price           BHk  Price_per_SQ_ft
count  10301.000000  10301.000000  10301.000000  10301.000000     10301.000000
mean    1508.440608      2.471702     91.286372      2.574896      5659.062876
std      880.694214      0.979449     86.342786      0.897649      2265.774749
min      300.000000      1.000000     10.000000      1.000000      1250.000000
25%     1110.000000      2.000000     49.000000      2.000000      4244.897959
50%     1286.000000      2.000000     67.000000      2.000000      5175.600739
75%     1650.000000      3.000000    100.000000      3.000000      6428.571429
max    30400.000000     16.000000   2200.000000     16.000000     24509.803922

In [37]:
def bhk_outlier_remover(fd): 
    exclude_indices = np.array([])
    for location , location_fd in fd.groupby("location"): 
        bhk_stats = {}
        for BHk, bhk_fd in location_fd.groupby("BHk"): 
            bhk_stats[BHk]={
                'mean' : np.mean(bhk_fd.Price_per_SQ_ft),
                'std' : np.std(bhk_fd.Price_per_SQ_ft),
                'count' : bhk_fd.shape[0]
            } 
        for BHk ,bhk_fd in location_fd.groupby("BHk"): 
            stats = bhk_stats.get(BHk-1)
            if stats and stats["count"] >5: 
                exclude_indices =np.append(exclude_indices ,bhk_fd[bhk_fd.Price_per_SQ_ft<(stats["mean"])].index.values)
                return fd.drop(exclude_indices, axis = "index")

In [38]:
df = bhk_outlier_remover(df)

In [39]:
df.shape

(10300, 7)

In [40]:
df.drop(columns =["Price_per_SQ_ft" , "size"] , inplace=True)

# Cleaned Data

In [42]:
df.head()
df.to_csv("Cleaned_data.csv")

In [115]:
df.head()

              location  total_sqft  bath  price  BHk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [43]:
X= df.drop(columns=["price"])
y=df["price"]

In [44]:
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LinearRegression , Lasso , Ridge 
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline 
from sklearn.metrics import r2_score

In [45]:
X_train, X_test , y_train , y_test = train_test_split(X , y ,test_size=0.2 , random_state=0)

In [46]:
print(X_train.shape)
print(X_test.shape)

(8240, 4)
(2060, 4)

# LinearRegression

In [48]:
column_tran =make_column_transformer((OneHotEncoder(sparse_output=False) ,['location']),remainder="passthrough")
Ss  = StandardScaler()
LR = LinearRegression()
pipe = make_pipeline(column_tran , Ss , LR)
pipe.fit(X_train , y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [49]:
predict = pipe.predict(X_test)
r2_score(y_test , predict)

0.8364444537217824

# Lasso

In [51]:
column_tran =make_column_transformer((OneHotEncoder(sparse_output=False) ,['location']),remainder="passthrough")
Ss  = StandardScaler()
LR = Lasso()
pipe = make_pipeline(column_tran , Ss , LR)
pipe.fit(X_train , y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [52]:
predict = pipe.predict(X_test)
r2_score(y_test , predict)

0.8244284756802536

# Ridge

In [54]:
column_tran =make_column_transformer((OneHotEncoder(sparse_output=False) ,['location']),remainder="passthrough")
Ss  = StandardScaler()
LR = Ridge()
pipe = make_pipeline(column_tran , Ss , LR)
pipe.fit(X_train , y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [55]:
predict = pipe.predict(X_test)
r2_score(y_test , predict)

0.8364894598381432

In [56]:
import pickle

In [57]:
pickle.dump(pipe,open("RidgeModel.pkl","wb"))